div {
    height: 100%;
    padding-left: 1rem;
    padding-top: 2rem;
    
    > h1 {
        font-size: 2rem;
    }
    > p {
        font-size: 1.5rem;
    }
}

button {
    padding-right: 1rem;
    margin-right: 1rem;
}